<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/addproduct/" method="post" style="max-width:500px;margin:auto">
  {% csrf_token %}
  <h2>Add Product Form</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="name" name="name">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="price" name="price">
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="text" placeholder="quantity" name="quantity">
  </div>
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="text" placeholder="category" name="category">
  </div>

  <button type="submit" class="btn">Add Product</button>
</form>
</body>
</html>